{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Question
{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center align-items-start mt-5 ">Last Question</h1>
    <div class="d-flex justify-content-end align-items-start mt-5">
        <a href="{{ path('question_add') }}" class="btn btn-secondary mb-2 ">Ask Question</a>
    </div>

    {% for question in questions %}
        <div class="container-fluid mt-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <p class="align-content-center"><a style="color: #0f172a" class="media-body ml-3"
                                                               href="{{ path('question_view', {'id': question.id}) }}">
                                    {{ question.titles }}
                                </a></p>
                            <div>
                                <img style="width:2% ; top: 15%; margin-left: 1%; border-radius: 8px"
                                     class="rounded-circle"
                                        {#                                      src="{{ asset('uploads/' ~ question.user.picture ) }}" #}
                                     alt="">
                            </div>
                            <div class="media flex-wrap w-100 align-content-end">
                                <div class="text-muted small ml-3">
                                    <div><strong>Posted</strong>: {{ question.createdAt|date("d/m/Y à h:i") }}</div>
                                    <div><strong>Author: </strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
